//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 11 22:12:54 2026
//! **************************************************************************

SCHEMATIC START;
COMP "enable" LOCATE = SITE "T5" LEVEL 1;
PIN enable_pin<0> = BEL "enable" PINNAME PAD;
PIN "enable_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "AN<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "AN<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "AN<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "AN<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "S<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "S<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "S<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "S<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "S<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "S<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "S<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "Mode<0>" LOCATE = SITE "U8" LEVEL 1;
COMP "Mode<1>" LOCATE = SITE "V8" LEVEL 1;
COMP "CLK" LOCATE = SITE "V10" LEVEL 1;
PIN CLK_pin<0> = BEL "CLK" PINNAME PAD;
PIN "CLK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

