//! **************************************************************************
// Written by: Map P.20131013 on Wed Jan 07 16:03:35 2026
//! **************************************************************************

SCHEMATIC START;
COMP "f" LOCATE = SITE "U16" LEVEL 1;
COMP "w" LOCATE = SITE "M8" LEVEL 1;
COMP "x" LOCATE = SITE "T10" LEVEL 1;
COMP "y" LOCATE = SITE "T9" LEVEL 1;
COMP "z" LOCATE = SITE "V9" LEVEL 1;
SCHEMATIC END;

