
NET "D" LOC="T9";
NET "D_C" LOC="T10";
NET "D_Q" LOC="U16";

NET "J" LOC="T5";
NET "JK_C" LOC="V8";
NET "K" LOC="U8";
NET "JK_Q" LOC="T11";

NET "T" LOC="M8";
NET "T_Q" LOC="V15";

NET "JK_C" CLOCK_DEDICATED_ROUTE = FALSE;
NET "D_C" CLOCK_DEDICATED_ROUTE = FALSE;
NET "T" CLOCK_DEDICATED_ROUTE = FALSE; 