
NET "btn1" LOC="A8";
NET "btn2" LOC="C4";
NET "btn3" LOC="B8";
NET "btn4" LOC="D9";

NET "sw<0>" LOC="T10";
NET "sw<1>" LOC="T9";
NET "sw<2>" LOC="V9";
NET "sw<3>" LOC="M8";
NET "sw<4>" LOC="N8";
NET "sw<5>" LOC="U8";
NET "sw<6>" LOC="V8";
NET "sw<7>" LOC="T5";

NET "led<0>" LOC="U16";
NET "led<1>" LOC="V16";
NET "led<2>" LOC="U15";
NET "led<3>" LOC="V15";
NET "led<4>" LOC="M11";
NET "led<5>" LOC="N11";