NET "MR" LOC="T5";
NET "OE" LOC="V8";
NET "DS" LOC="U8";

NET "SH"   LOC="C4"; 
NET "CLK" LOC = "V10";
NET "STCP" LOC="D9";

NET "Q(0)" LOC="T11";
NET "Q(1)" LOC="R11";
NET "Q(2)" LOC="N11";
NET "Q(3)" LOC="M11";
NET "Q(4)" LOC="V15";
NET "Q(5)" LOC="U15";
NET "Q(6)" LOC="V16";
NET "Q(7)" LOC="U16";

NET "STCP" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK"  CLOCK_DEDICATED_ROUTE = FALSE;
